language: python
python:
  - 2.7
  - 3.6
  - 3.7
install:
  - pip install --upgrade pip
  - pip install --no-cache-dir -U -r requirements.txt | cat
script:
  - rm plum/function*.so
  - pytest -v --cov=plum --cov-report term-missing
after_success:
  - coveralls
