# Requirements for development, testing, and documentation.
-e .
jupyter-book
ghp-import
numpy
pytest
pytest-cov
coveralls
black==22.3.0
pre-commit
setuptools_scm[toml]
setuptools_scm_git_archive
IPython
