name: Build Jupyter Book

on:
  # Trigger the workflow on push to main branch.
  push:
    branches:
      - master

# This job installs dependencies, build the book, and pushes it to `gh-pages`.
jobs:
  build-and-deploy-book:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10"]
    steps:
      - uses: actions/checkout@v2

      # Install dependencies.
      - name: Set up Python ${{ matrix.python-version }}
        uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e # v6.8.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          uv sync --group dev --locked

      # Build the book.
      - name: Build
        run: uv run --frozen jupyter-book build docs

      # Deploy the book's HTML to gh-pages branch.
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3.6.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/html
