name: CI

on:
  workflow_dispatch:

  pull_request:

  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        value:
          - name: "3.10"
            python-version: "3.10"
            extra-install: ""
          - name: "3.11"
            python-version: "3.11"
            extra-install: ""
          - name: "3.12"
            python-version: "3.12"
            extra-install: ""
          - name: "3.13"
            python-version: "3.13"
            extra-install: ""
          - name: "3.13-pre-beartype"
            python-version: "3.13"
            extra-install: "pip install --upgrade --pre beartype"
          - name: "3.14"
            python-version: "3.14"
            extra-install: ""
          - name: "3.14-pre-beartype"
            python-version: "3.14"
            extra-install: "pip install --upgrade --pre beartype"

    name: Test ${{ matrix.value.name }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.value.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.value.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --no-cache-dir --group dev
          python -m pip install --no-cache-dir -e .
          ${{ matrix.value.extra-install }}
      - name: Test linter assertions
        run: nox -s typecheck
      - name: Run tests
        run: |
          PRAGMA_VERSION=`python -c "import sys; print('.'.join(map(str, sys.version_info[:2])))"` \
            pytest -v --cov=plum --cov-report term-missing
      - name: Coveralls parallel
        uses: coverallsapp/github-action@v2
        with:
          flag-name: run-${{ matrix.value.name }}
          parallel: true

  finish:
    name: Finish coverage
    needs: test
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls finished
      uses: coverallsapp/github-action@v2
      with:
        parallel-finished: true
