name: Check Formatting
on: pull_request

jobs:
  check:
    name: Check Formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install Black formatter
        run: |
          python -m pip install --upgrade pip
          pip install -v black==21.6b0

      - name: Check formatting
        run: black --check --diff --color .
